In [2]:
import numpy as np
import pandas as pd

In [2]:
one_dimensional_array = np.array([4.6,2.7,3.3,5])

In [3]:
print(f"The array is {one_dimensional_array}")

The array is [4.6 2.7 3.3 5. ]

In [5]:
# creating a sequence of integers
seq_numbers = np.arange(1,9)

In [6]:
print(seq_numbers)

[1 2 3 4 5 6 7 8]

In [7]:
feature = np.array(np.arange(6,20))
print(feature)

[ 6  7  8  9 10 11 12 13 14 15 16 17 18 19]

In [8]:
label = (3)*feature+4
print(label)

[22 25 28 31 34 37 40 43 46 49 52 55 58 61]

In [11]:
noise = (np.random.random([15]) * 4) - 2
print(noise)
label = label + noise 
print(label)

[-1.82553731  1.19958819 -0.46540065  1.53254957  0.16299601 -0.46373911
 -1.92518797  1.97198734 -0.35519126 -1.93457586 -0.38263508  0.85903032
 -1.35474027 -0.25635279 -1.37579847]

ValueError: operands could not be broadcast together with shapes (14,) (15,)

In [2]:
my_data = np.array([[0, 3], [10, 7], [20, 9], [30, 14], [40, 15]])

In [3]:
column_names = ['temperature','activity']

In [4]:
my_dataframe = pd.DataFrame(data=my_data,columns=column_names)

In [5]:
print(my_dataframe)

   temperature  activity
0            0         3
1           10         7
2           20         9
3           30        14
4           40        15

In [6]:
my_dataframe['adjusted'] = my_dataframe ['activity']+2

In [7]:
print(my_dataframe)

   temperature  activity  adjusted
0            0         3         5
1           10         7         9
2           20         9        11
3           30        14        16
4           40        15        17

In [8]:
print(my_dataframe ["temperature"])

0     0
1    10
2    20
3    30
4    40
Name: temperature, dtype: int32

In [9]:
print(my_dataframe.iloc[[2]])

   temperature  activity  adjusted
2           20         9        11

In [14]:
student_score = np.random.randint(low = 0, high = 101, size=(3,4))
print(student_score )

[[57 66 44 65]
 [45 88 79 69]
 [57 48 66 71]]

In [15]:
columns = ['Eleanor','Chidi','Tahani','Jason']

In [16]:
student_dataframe = pd.DataFrame(data=student_score,columns=columns)

In [17]:
print(student_dataframe )

   Eleanor  Chidi  Tahani  Jason
0       57     66      44     65
1       45     88      79     69
2       57     48      66     71

In [3]:
new_data = np.array([[3,2],[5,8],[10,12],[22,8]])

In [4]:
new_col = ['Colo','Fidi']

In [5]:
snooker_dataframe = pd.DataFrame(data=new_data,columns=new_col)

In [6]:
print(snooker_dataframe)

   Colo  Fidi
0     3     2
1     5     8
2    10    12
3    22     8

In [8]:
snooker_dataframe['Willi'] = snooker_dataframe['Colo']+2

In [9]:
print(snooker_dataframe)

   Colo  Fidi  Willi
0     3     2      5
1     5     8      7
2    10    12     12
3    22     8     24